.Rproj.user
.Rhistory
.RData
src/*.o
src/*.so
src/*.dll
*.swp
vignettes/*.aux
vignettes/*.log
vignettes/*.gz
vignettes/*.out
vignettes/cache/*
vignettes/figure/*
vignettes/*.bbl
vignettes/*.blg
vignettes/*.pdf
vignettes/*.tex
vignettes/*.toc
