exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(boot, logit)
importFrom(boot, inv.logit)
importFrom(MASS,ginv)
importFrom(MASS,mvrnorm)
import(CircStats,sp)
useDynLib(moveHMM)
S3method(plot,moveData)
S3method(summary,moveData)
S3method(print,moveHMM)
S3method(plot,moveHMM)
S3method(pseudoRes,moveHMM)
S3method(stateProbs,moveHMM)
S3method(AIC,moveHMM)
S3method(CI,moveHMM)
S3method(viterbi,moveHMM)
S3method(plotStates,moveHMM)
S3method(plotPR,moveHMM)
